.body{
  margin: 0;
  padding: 0;
}

.education-rectangle{
  width: 80%;
  background-color: #486085;
  min-height: 100vh; /* Set a minimum height to fill the viewport */
  padding: 20px; /* Add padding to create space for the text */
  padding-bottom: 40px;
  box-sizing: border-box; /* Ensure padding is included in the height calculation */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top of the rectangle */
  margin:auto;
}

.education-section{
  margin-left: 7%;
  display: flex;
  flex-direction: column;
}

.education-header-container{
  margin-top: 0px;
}

.education-header{
  font-family: Victor Mono;
  font-size: 35px;
  color: #f5f1e6;
  font-weight: 600;
}

.college{
  margin-top: 0px;
  font-family: Lato;
  font-size: 17px;
  color: #f5f1e6;
  font-weight: 700;
  margin-bottom: -10px;
}

.graduation{
  font-family: Lato;
  font-size: 17px;
  color: #f5f1e6;
  margin-bottom: 35px;
  font-style: italic;
}

.major, .minor{
  margin-top: -15px;
  font-family: Lato;
  font-size: 17px;
  color: #f5f1e6;
  font-weight: 400;
}

.highschool{
  margin-top: 8%;
  font-family: Lato;
  font-size: 17px;
  color: #f5f1e6;
  font-weight: 700;
  margin-bottom: -10px;
}

.coursework-section{
  display: flex;
  flex-direction: column;
  padding-left: 7%;
}

.coursework-header-container{
  margin-top: 0px;
  margin-bottom: -40px;
}

.coursework-header{
  font-family: Victor Mono;
  font-size: 35px;
  color: #f5f1e6;
  font-weight: 600;
}

.coursework-details{
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.course-subheader{
  font-family: Lato;
  font-size: 16px;
  color: #f5f1e6;
  font-weight: 600;
  margin-top: 35px;
}

.coursework-list{
  font-family: Lato;
  font-size: 14px;
  color: #f5f1e6;
  margin-left: -15px;
}

.work-rectangle{
  width: 80%; 
  margin: auto;
  margin-top: 10%;
  border: 3px solid #486085;
  min-height: 100vh; /* Set a minimum height to fill the viewport */
  padding: 20px; /* Add padding to create space for the text */
  box-sizing: border-box; /* Ensure padding is included in the height calculation */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top of the rectangle */
}

.work-header-container{
  margin-top: 2%;
  margin-left: 7%;
}

.work-header{
  font-family: Victor Mono;
  font-size: 35px;
  color: #486085;
  font-weight: 600;
}

.work-details{
  margin-left: 7%;
  margin-right: 10%;
  flex: 1; /* Allow the content to expand within the rectangle */
  overflow-y: auto; /* Add vertical scroll if needed */
}

.job{
  margin-bottom: 40px;
  margin-top: 30px;
}

.job-subheader{
  font-family: Lato;
  font-size: 19px;
  color: #486085;
  font-weight: 700;
}

.job-description{
  font-family: Lato;
  font-size: 16px;
  color: #486085;
}

@media (max-width: 425px){
  .education-header{
    font-size: 30px;
  }
  
  .college, .graduation, .major, .minor, .highschool{
    font-size: 12px;
  }

  .coursework-header{
    font-size: 30px;
  }
  
  .course-subheader{
    font-size: 14px;
  }
  
  .coursework-list{
    font-size: 12px;
    margin-left: -15px;
  }

  .coursework-header{
    font-size: 30px;
  }
  
  .course-subheader{
    font-size: 14px;
  }
  
  .coursework-list{
    font-size: 12px;
  }
}









