.body{
  margin: 0;
  padding: 0;
}

.education-rectangle{
  height: 530px;
  width: 100vw;
  background-color: #486085;
  display: grid;
  grid-template-columns: 600px 1fr;
  align-items: center;
}

.education-section{
  margin-left: 63px;
  display: flex;
  flex-direction: column;
}

.education-header-container{
  margin-top: 0px;
}

.education-header{
  font-family: Victor Mono;
  font-size: 35px;
  color: #f5f1e6;
  font-weight: 600;
}

.college{
  margin-top: 0px;
  font-family: Lato;
  font-size: 17px;
  color: #f5f1e6;
  font-weight: 700;
  margin-bottom: -10px;
}

.graduation{
  font-family: Lato;
  font-size: 17px;
  color: #f5f1e6;
  margin-bottom: 35px;
  font-style: italic;
}

.major, .minor{
  margin-top: -15px;
  font-family: Lato;
  font-size: 17px;
  color: #f5f1e6;
  font-weight: 400;
}

.highschool{
  margin-top: 50px;
  font-family: Lato;
  font-size: 17px;
  color: #f5f1e6;
  font-weight: 700;
  margin-bottom: -10px;
}

.coursework-section{
  display: flex;
  flex-direction: column;
}

.coursework-header-container{
  margin-top: 0px;
  margin-bottom: -40px;
}

.coursework-header{
  font-family: Victor Mono;
  font-size: 35px;
  color: #f5f1e6;
  font-weight: 600;
}

.coursework-details{
  display: grid;
  grid-template-columns: 350px 1fr;
  margin-top: 0px;
}

.course-subheader{
  font-family: Lato;
  font-size: 16px;
  color: #f5f1e6;
  font-weight: 600;
  margin-top: 35px;
}

.coursework-list{
  font-family: Lato;
  font-size: 14px;
  color: #f5f1e6;
  margin-left: -15px;
}

.work-rectangle{
  height: 750px;
  margin-top: 50px;
  border: 3px solid #486085;
}

.work-header-container{
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 50px;
}

.work-header{
  font-family: Victor Mono;
  font-size: 35px;
  color: #486085;
  font-weight: 600;
}

.work-details{
  margin-left: 60px;
}

.job{
  margin-bottom: 40px;
  margin-top: 30px;
}

.job-subheader{
  font-family: Lato;
  font-size: 19px;
  color: #486085;
  font-weight: 700;
}

.job-description{
  font-family: Lato;
  font-size: 16px;
  color: #486085;
}



