.cover{
  display: flex;
  justify-content: center;
  position: relative;
  width: 85%;
  max-width: 1000px;
  margin: auto;
  margin-top: 10px;
}

.cover-image{
  width: 100%;
  opacity: 0.9;
  border-radius: 8px;
}

.welcome{
  position: absolute;
  bottom: 30px;
  right: 60px;
}

.welcome-icon{
  height: 30px;
  z-index: 100;
}

.homepage{
  width: 85%;
  max-width: 1000px;
  margin: auto;
  margin-top: 40px;
}

.homepage-intro{
  text-align: center;
  font-family: Cardo;
  font-size: 20px;
  color: #486085;
  font-weight: 500;
}

.here{
  color: #f088a7;
  text-decoration: none;
}

.here:hover{
  opacity: 0.7;
}

@media (max-width: 768px){
  .welcome{
    bottom: 20px;
    right: 50px;
  }
  .welcome-icon{
    height: 20px;
  }
}

@media (max-width: 425px){
  .welcome-icon{
    display: none;
  }
}

